.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 0.5rem;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.backToHome {
  margin: 3rem 0 0;
}
